a {
    font-weight: bold;
}

footer {
    font-weight: bold;
}

@font-face {
    font-family: "Passion One", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Passion+One");
}
h1 {
font-family: "Passion One", cursive;
}

footer {
background-color: white
}
body {
background-color: gold
}
header {
background-color: white
}
hr {
background-color: black
}
a {
    font-weight: normal;
}
a:visited {
    color: gold;
}
a:hover {
font-weight: bold;
}
a:active {
text-decoration: none;
}

.jumbotron {
text-align: center;
font-family: fantasy
}
