body {
    color: white;
}
@font-face {
    font-family: "PT Sans Narrow", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
        
}
ul {
 font-style: italic
}
h1 {
font-family: "PT Sans Narrow", sans-serif;
}
h3 {
font-family: "PT Sans Narrow", sans-serif;
}
 .bg_img {
background-image: url("noir.jpg");
     max-height: 500px;
     max-width: 500px;
     min-height: 500px;
     max-width: 500px;
     background-repeat: no-repeat;
     background-size: contain;
     border-radius: 50%
        
     }
a {
text-decoration: none;
}
a:hover {
background-color: black;
text-decoration: underline;
    }
 td {
font-style: italic;
}

td {
background-color: grey;
} 
h4 {
text-align: center
}
table {
color: black
}