body {
    color: white;
}
ul {
 font-style:italic;
}
h1 {
font-family: cursive
}
h3 {
font font-family: cursive
}
 #bg_img {
background-image: url(https://i.ytimg.com/vi/drdh4goiuHE/maxresdefault.jpg);
     background-size: 100%
}
     