a {
    font-weight: bold;
}

footer {
    font-weight: bold;
}

@font-face {
    font-family: "Passion One", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css?family=Passion+One");
}
h1 {
font-family: "Passion One", cursive;

}